
html, body{
	font-family: 'M PLUS Rounded 1c', sans-serif;
	font-weight: 400;
	font-size: 1em;
}



h1{
	padding:0px;
	margin:0;
	font-size: 2em;
	font-weight: 500;
	line-height: 1.2em;
	letter-spacing: -0.03em;
}

h2{
	padding:0px;
	margin:0;
	font-size: 1.5em;
	font-weight: 500;
	line-height: 1.2em;
	letter-spacing: -0.03em;
}

h3{
	padding:0px;
	margin:0;
	font-size: 1em;
	font-weight: 400;
	line-height: 1em;
	text-transform: uppercase;
}

h4{
	padding:0px;
	margin:0;
	font-size: 1.2em;
	font-weight: 700;
	line-height: 1.2em;
	letter-spacing: -0.03em;
}

a:link {
	color: #242424;
	text-decoration: underline;
}
a:visited {
	color: #242424;
	text-decoration: underline;
}
a:hover {
	color: #000000;
	text-decoration: underline;
}
a:active {
	color: #242424;
	text-decoration: underline;
}

*{
	padding: 0;
	margin:0;
}





.section{
	width: 100%;
	height: auto;
}

/* LEADERBOARD */

.menu{
	background-color: #FFFFFF;
}


.menu-container{
 	width: 100%;
 	padding-bottom: 5px;
 	padding-top: 5px;
 	height: 100px;
}

.left{
	width: 50%;
	height: auto;
	text-align: left;
	float: left;
}
.right{
	width: 50%;
	height: auto;
	float: left;
text-align: right;
padding-right: 15px;
}

.logo{
	margin-top: 10px;
	width: auto;
	height: 70px;
	background-image: url("images/logo.svg");
	background-repeat: no-repeat;
}


.strapline{
	margin-top: 33px;
	text-transform: uppercase;
}

.leaderboard{
	background-color: #242424;
	background-image: url("images/leaderboard.jpg");
	background-repeat: no-repeat;
	background-size: cover;
}

.leaderboard-careers{
	background-color: #242424;
	background-image: url("images/leaderboard-careers.jpg");
	background-repeat: no-repeat;
	background-size: cover;
}

.ldr-content-container{
	display: table;
	height: 500px;
}

.ldr-content{
	vertical-align: middle;
	display: table-cell;
}

.ldr-content h1{
	color: #FFFFFF;
}

.ldr-content h3{
	color: #f1b705;
	padding-bottom: 30px;
}

/* INTRO */

.intro{
	height: auto;
	background-color: #f2421b;
	color: #FFFFFF;
	padding-top: 100px;
	padding-bottom: 100px;
	text-align: center;
}


/* MENU */
a.menu-item:link{
	text-decoration: none;
	font-weight: 500;
	color: #f2421b;
	padding-left: 15px;
}

a.menu-item:visited{
	text-decoration: none;
	font-weight: 500;
	color: #f2421b;
	padding-left: 15px;
}

a.menu-item:hover{
	text-decoration: none;
	font-weight: 500;
	color: #f2b705;
	padding-left: 15px;
}



.menu-off{
	display: inline-block;
	color:#999999;
	padding-left: 15px;
}






/* CAREERS */

.careers{
	height: auto;
	padding-top: 100px;
	padding-bottom: 100px;
}

.careers h2{
color: #f2421b;
padding-bottom: 30px;
}

.careers h3{
color: #f2421b;
padding-top: 30px;
padding-bottom: 30px;
}

.career-detail{
	padding-top: 30px;
	padding-bottom: 30px;
}

.full-page{
	padding-left: 15px;
	padding-right: 15px;
}

.splitter{
	width: 100%;
	height: 1px;
	background-color: #f2421b;
	margin-top: 50px;
	margin-bottom: 50px;
}

a.btn-apply:link{
	background-color: #f2421b;
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 10px;
	padding-bottom: 10px;
	text-decoration: none;
	border-radius: 5px;
	color: #FFFFFF;
}

a.btn-apply:hover{
	background-color: #f2b705;
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 10px;
	padding-bottom: 10px;
	text-decoration: none;
	border-radius: 5px;
	color: #252326;
}

ul.career-bullets li{
   list-style: disc;
   margin-left: 30px;
    padding-left: 10px;
    padding-right: 50px;
}




/* SERVICES */

.services{
	padding-top: 100px;
	padding-bottom: 100px;
	background-color: #cbcbcb;
}

.service-container{
	height: auto;
	background-color: #252326;
	padding-top: 60px;
	padding-bottom: 60px;
	padding-left: 20px;
	padding-right: 20px;
	text-align: center;
	margin-bottom: 15px;
}

.service-strip{
	position: absolute;
	bottom: 15px;
	right: 15px;
	background-image: url("images/strip.svg");
	background-repeat: no-repeat;
	width: 30px;
	height: 30px;
}

.service-container h4{
	color: #f2b705;
	padding-bottom: 30px;
}

.service-container p{
	color: #FFFFFF;
}

.service-icon{
	display: inline-block;
	height: 100px;
	width: 100px;
	margin-bottom: 30px;
}

.icon-consulting{
	background-image: url("images/icon-consulting.svg");
	background-repeat: no-repeat;
}

.icon-development{
	background-image: url("images/icon-development.svg");
	background-repeat: no-repeat;
}

.icon-management{
	background-image: url("images/icon-management.svg");
	background-repeat: no-repeat;
}

.icon-licensed{
	background-image: url("images/icon-licensed.svg");
	background-repeat: no-repeat;
}


/* PROFILES */

.profiles{
	background-color: #FFFFFF;
	padding-top: 100px;
	padding-bottom: 70px;

}

.profile{
	text-align: center;
	padding-bottom: 30px;
}

.profile h4{
	color: #f2421b;
}

.profile p{
	color: #252326;
	text-transform: uppercase;
}


.profile-image{
	width: 100%;
	height: auto;
	margin-bottom: 30px;
}

.profile-image img{
	width: 100%;
	height: auto;
}



/* BENEFITS */

.benefits{
	background-color: #f2421b;
	padding-top: 100px;
	padding-bottom: 100px;
	color: #FFFFFF;
}

.benefits h2{
	padding-bottom: 60px;
}

.highlight{
	color: #f2b705;
}


ul{
	list-style: none;
	display: table;
}

.number{
	font-weight: 500;
	text-align: center;
	width: 30px;
	height: 30px;
	display: table-cell;
	background-image: url("images/bullet.svg");
	background-repeat: no-repeat;
	padding-top: 3px;
}


li{
	margin-bottom: 15px;
}

li p{
	padding-left: 15px;
	display: table-cell;
}

/* CONTACT */

.contact{
	padding-top: 100px;
	padding-bottom: 100px;
	background-color: #f2b705;
	color: #FFFFFF;
	text-align: center;
}

/* FOOTER */

.footer{
	padding-top: 60px;
	padding-bottom: 60px;
	background-color: #252326;
	color: #cbcbcb;
}

.alignright{
	text-align: left;
}






/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default in Bootstrap */

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
.alignright{
	text-align: right;
}

.service-container{
	height: 500px;
}

.full-page{
	padding-left: 100px;
	padding-right: 100px;
}

}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {


}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {



}

